services:
  postgres:
    image: postgres:16
    container_name: ticketing-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 03312000
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d

volumes:
  pgdata: